{% extends 'layout.html' %}

{% block title %}Добавление клиента{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма добавления клиента</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.cust_name }}<br>
            {{ form.amount_of_purchases }}<br>
            {{ form.cust_balance }}<br>
            {{ form.cust_ceiling }}<br>
            {{ form.cust_debt}}<br>
            {{ form.comment }}<br>
            <sp>{{ error }}</sp>
            <button class="btn btn-success" type="submit">Добавить </button>
        </form>
    </div>
{% endblock %}